* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 3rem;
}

.skill-tree {

    &__bottom {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &__section {
        border: 2px solid black;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
        &--top {
            width: 50%;
            background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(87, 199, 133, 1) 0%, rgba(255, 255, 255, 1) 0%);
        }
        &--bottom {
            width: 33.33%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &--justify-center {
            justify-content: center;
        }
        &--justify-end {
            justify-content: flex-end;
        }
    }
    &__skill,
    &__augment {
        width: 50px;
        height: 50px;
        background-image: url(../img/icon-bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &--blank {
            visibility: hidden;
        }

        &:hover {
            cursor: pointer;
        }
    }
    &__skill {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 15px solid white;
            border-left: 15px solid black;
            width: 0;
        }
    }
    &__augment {
        transform: rotate(45deg);

        img {
            transform: rotate(-45deg);
            border-radius: 50%;
        }
    }
    &__skill-img {
        max-width: 100%;
        width: 100%;
    }
    &__number-box {
        position: absolute;
        left: 50%;
        bottom: -7.5px;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        font-size: 14px;
        padding: .25rem;
    }
}

.skill-box {
    padding: 1rem;
    background-color: black;
    color: white;
    display: none;

    &__bonus-name {
        color: lightblue;
    }
}

.keyword {
    &--orange {
        color: orange;
    }
    &--blue {
        color: lightblue;
    }
    &--green {
        color: green;
    }
}
