* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 3rem;
}

.skill-tree {

    &__bottom {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &__section {
        border: 2px solid black;
        padding: 1rem;
        margin: 0 auto;
        &--top {
            width: 50%;
        }
        &--bottom {
            width: 33.33%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &--justify-center {
            justify-content: center;
        }
        &--justify-end {
            justify-content: flex-end;
        }
    }
    &__skill,
    &__augment {
        width: 50px;
        height: 50px;
        background-image: url(../img/icon-bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &--blank {
            visibility: hidden;
        }

        &:hover {
            cursor: pointer;
        }
    }
    &__skill {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 15px solid white;
            border-left: 15px solid black;
            width: 0;
        }
    }
    &__augment {
        transform: rotate(45deg);

        img {
            transform: rotate(-45deg);
            border-radius: 50%;

            // &:before {
            //     content: '';
            //     position: absolute;
            //     top: 0; right: 0;
            //     border-top: 80px solid white;
            //     border-left: 80px solid red;
            //     width: 0;
            // }
        }
    }
    &__skill-img {
        max-width: 100%;
        width: 100%;
    }
}

.skill-box {
    padding: 1rem;
    background-color: black;
    color: white;
    display: none;
}

.keyword {
    &--orange {
        color: orange;
    }
    &--blue {
        color: lightblue;
    }
    &--green {
        color: green;
    }
}