* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.d-none {
  display: none;
}

body {
  padding: 3rem;
  background: #000;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 58, 71) 100%);
  margin-bottom: 500px;
}

.skill-tree {
  max-width: 1200px;
  margin: 0 auto;
}
.skill-tree__bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.skill-tree__section {
  border: 2px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(87, 199, 133, 0.5) 0%, transparent 0%);
}
.skill-tree__section--top {
  width: 50%;
}
.skill-tree__section--bottom {
  width: 33.33%;
}
.skill-tree__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.skill-tree__row--justify-center {
  justify-content: center;
}
.skill-tree__row--justify-end {
  justify-content: flex-end;
}
.skill-tree__skill, .skill-tree__augment, .skill-tree__capstone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 1rem;
  position: relative;
}
.skill-tree__skill--blank, .skill-tree__augment--blank, .skill-tree__capstone--blank {
  visibility: hidden;
}
.skill-tree__skill:hover, .skill-tree__augment:hover, .skill-tree__capstone:hover {
  cursor: pointer;
}
.skill-tree__skill {
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  border: 1px solid gray;
}
.skill-tree__skill img {
  max-width: 100%;
  width: 100%;
}
.skill-tree__augment {
  transform: rotate(45deg);
}
.skill-tree__augment img {
  transform: rotate(-45deg);
  width: 140%;
}
.skill-tree__capstone img {
  width: 120%;
}
.skill-tree__skill-img--colored {
  mix-blend-mode: screen;
}
.skill-tree__number-box {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 0.25rem;
}

.skill-box {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #000c17;
  border: 1px solid lightblue;
  color: white;
  visibility: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
}
.skill-box__type {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: lightblue;
  font-size: 18px;
}
.skill-box__bonus-box {
  margin-top: 1rem;
}
.skill-box__bonus-name {
  color: lightblue;
}
.skill-box hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: lightblue;
}
.skill-box__flavor-text {
  font-style: italic;
  margin-top: 1rem;
  color: lightblue;
}

.keyword--orange {
  color: orange;
}
.keyword--blue {
  color: lightblue;
}
.keyword--dark-blue {
  color: blue;
}
.keyword--green {
  color: green;
}
.keyword--red {
  color: red;
}

.alert-box {
  visibility: hidden;
  background-color: #811331;
  color: red;
  font-weight: bold;
  border-left: 2px dotted red;
  border-right: 2px dotted red;
  padding: 0.5rem 1rem;
  width: auto;
}

.skill-points {
  color: white;
}/*# sourceMappingURL=main.css.map */